@model Gestor_Notas.Models.DetalleCurso

@{
    ViewData["Title"] = "Detalle de Notas";
}
<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Nota</center></h1>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerParcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerParcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoParcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoParcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actividades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actividades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProyectoFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProyectoFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extraordinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extraordinario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngresoNota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngresoNota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroActa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroActa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Año)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Año)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudianteNavigation.PrimerNombre)
            @Html.DisplayFor(model => model.EstudianteNavigation.SegundoNombre)
            @Html.DisplayFor(model => model.EstudianteNavigation.TercerNombre)
            @Html.DisplayFor(model => model.EstudianteNavigation.PrimerApellido)
            @Html.DisplayFor(model => model.EstudianteNavigation.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCursoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCursoNavigation.Curso1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetalleCurso" class="btn btn-secondary">Editar</a>

</div>
