@model Gestor_Notas.Models.EstudianteCarrera

@{
    ViewData["Title"] = "Detalles de Asignación";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Asignación</center></h1>
<hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudianteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudianteNavigation.PrimerNombre)
        @Html.DisplayFor(model => model.EstudianteNavigation.SegundoNombre)
        @Html.DisplayFor(model => model.EstudianteNavigation.TercerNombre)
        @Html.DisplayFor(model => model.EstudianteNavigation.PrimerApellido)
        @Html.DisplayFor(model => model.EstudianteNavigation.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarreraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarreraNavigation.Carrera1)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstu" class="btn btn-secondary">Editar</a>
</div>
</div>

