@model IEnumerable<Gestor_Notas.Models.EstudianteCarrera>

@{
    ViewData["Title"] = "Asiganción";
}

<h1><center> Asignación</center></h1>
<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
        <h3>Crear una Nueva Asignación</h3>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarreraNavigation)     
            </th>
            <th><center></center></th>
            <th><center></center></th>
            <th><center></center></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EstudianteNavigation.PrimerNombre)
                    @Html.DisplayFor(modelItem => item.EstudianteNavigation.SegundoNombre)
                    @Html.DisplayFor(modelItem => item.EstudianteNavigation.TercerNombre)
                    @Html.DisplayFor(modelItem => item.EstudianteNavigation.PrimerApellido)
                    @Html.DisplayFor(modelItem => item.EstudianteNavigation.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarreraNavigation.Carrera1)
            </td>
                <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.IdEstu"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Details" asp-route-id="@item.IdEstu"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Delete" asp-route-id="@item.IdEstu"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
        </tr>
}
    </tbody>
</table>
