@model IEnumerable<Gestor_Notas.Models.Entidad>

@{
    ViewData["Title"] = "Roles";
}
<h1><center>Roles</center></h1>


<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
        <h3>Crear un Nuevo Rol</h3>
    </p>
</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
                <th><center></center></th>
                <th><center></center></th>
                <th><center></center></th>
        </tr>
    </thead>
</div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
       
            <td>
                <center>
                    <a asp-action="Edit" asp-route-id="@item.IdRol"><img src="~/img/editar.png" width="40" height="40" /> </a>
                </center>
            <td>
                <center>
                    <a asp-action="Details" asp-route-id="@item.IdRol"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                </center>
            </td>
            <td>
                <center>
                    <a asp-action="Delete" asp-route-id="@item.IdRol"><img src="~/img/basura.png" width="40" height="40" /> </a>
                </center>
            </td>
        </tr>
}
    </tbody>
</table>
