@model Gestor_Notas.Models.Usuario

@{
    ViewData["Title"] = "Detalle de Usuario";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>
<h1><center>Detalles de Usuario</center></h1>
<hr />

<div>
  
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TercerNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TercerNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoIdentificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoIdentificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario" class="btn btn-secondary">Editar</a>
</div>
