@model IEnumerable<Gestor_Notas.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}
<h1><center>Usuarios</center></h1>


<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
        <h3>Crear un Nuevo Usuario</h3>
    </p>
</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TercerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th><center></center></th>
            <th><center></center></th>
            <th><center></center></th>
        </tr>
    </thead>
</div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TercerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.Nombre)
            </td>        
                <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.IdUsuario"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                <td>
                    <center>
                        <a asp-action="Details" asp-route-id="@item.IdUsuario"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
        </tr>
}
    </tbody>
</table>
