@model IEnumerable<Gestor_Notas.Models.Estudiante>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1><center>Listado de Cursos</center></h1>


<div class="orden">
    <p>
        <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
        <h3>Crear un Nuevo Curso</h3>
    </p>
</div>

<div style="overflow-x:auto;">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TercerNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Inscripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRol)
            </th>
                    <th><center></center></th>
                    <th><center></center></th>
                    <th><center></center></th>
        </tr>
    </thead>
    </div>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TercerNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Inscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRol)
            </td>
           <td>
                    <center>
                        <a asp-action="Edit" asp-route-id="@item.IdUsuario"><img src="~/img/editar.png" width="40" height="40" /> </a>
                    </center>
                <td>
                    <center>
                        <a asp-action="Details" asp-route-id="@item.IdUsuario"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario"><img src="~/img/basura.png" width="40" height="40" /> </a>
                    </center>
                </td>
        </tr>
}
    </tbody>
</table>
