@model Gestor_Notas.Models.Curso

@{
    ViewData["Title"] = "Eliminar Curso";
}

<div class="orden">
    <a asp-action="Index"><img src="~/img/flecha-izquierda.png" width="50" height="50" /></a>
</div>

<h1><center>Eliminar Curso</center></h1>

<h3>Esta seguro de realizar esta acción?</h3>
<h5>Tenga en cuenta que si se ha generado algun formulario con este dato</h5>
<h5>no podra ser eliminado el campo.</h5>

<hr>
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarreraNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCarreraNavigation.Carrera1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPeriodicidadNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPeriodicidadNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.PrimerNombre)
            @Html.DisplayFor(model => model.IdUsuarioNavigation.SegundoNombre)
            @Html.DisplayFor(model => model.IdUsuarioNavigation.TercerNombre)
            @Html.DisplayFor(model => model.IdUsuarioNavigation.PrimerApellido)
            @Html.DisplayFor(model => model.IdUsuarioNavigation.SegundoApellido)
        </dd>
    </dl><br>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCurso" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
</div>
