@model Gestor_Notas.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCarreraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCarreraNavigation.IdCarrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPeriodicidadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPeriodicidadNavigation.IdPeriodicidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCurso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
