@model IEnumerable<Gestor_Notas.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1><center>Listado de Cursos</center></h1>

@if (User.Claims.ElementAt(1).ToString().Split(':')[1].ToString().Replace(" ", "") == "Administrador")
{
    <div class="orden">
        <p>
            <a asp-action="Create"><img src="~/img/agregar-documento.png" width="50" height="50" /></a>
            <h3>Crear un Nuevo Curso</h3>
        </p>
    </div>
}
<br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarreraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPeriodicidadNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th><center></center></th>
            <th><center></center></th>
            <th><center></center></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarreraNavigation.Carrera1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPeriodicidadNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.PrimerNombre)
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.SegundoNombre)
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.TercerNombre)
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.PrimerApellido)
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.SegundoApellido)
            </td>  
               
                <td>
                    <center>
                        @if (User.Claims.ElementAt(1).ToString().Split(':')[1].ToString().Replace(" ", "") == "Administrador")
                        {
                        <a asp-action="Edit" asp-route-id="@item.IdCurso"><img src="~/img/editar.png" width="40" height="40" /> </a>
                        }
                    </center>
                <td>
                    <center>
                            @if (User.Claims.ElementAt(1).ToString().Split(':')[1].ToString().Replace(" ", "") == "Administrador")
                            {
                        <a asp-action="Details" asp-route-id="@item.IdCurso"><img src="~/img/votacion.png" width="40" height="40" /> </a>
                            }
                    </center>
                </td>
                <td>
                    <center>
                            @if (User.Claims.ElementAt(1).ToString().Split(':')[1].ToString().Replace(" ", "") == "Administrador")
                            {
                        <a asp-action="Delete" asp-route-id="@item.IdCurso"><img src="~/img/basura.png" width="40" height="40" /> </a>
                            }
                    </center>
                </td>
        </tr>
                }
    </tbody>
</table>
